<% if !request.xhr? then %><h1>Message board</h1><% end %>

<section id="messages">
	<header class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<% if @current_user.present? then %>
					<%= link_to("#", {:id => "new-message"}) do %>
						<i class="icon-white icon-plus"></i>
						New post
					<% end %>
				<% else %>
			      &nbsp;
				<% end %>
			</div>
			<div class="span4 counter">
			   <% if @records.total_entries > 0 then %>
					Viewing message <b><%= @records.offset + 1 %></b>-<b><%= [@records.offset + @records.per_page, @records.total_entries].min %></b> of <b><%= @records.total_entries %></b>.
				<% else %>
					No messages found.
				<% end %>
			</div>
			<div class="span4">
			   <% if @records.total_pages > 1 then %>
	         <div class="pagination pagination-right">
	            <%= will_paginate(@records, {:class => "ul", :page_links => true, :previous_label => "&larr;", :next_label => "&rarr;", :renderer => SemanticLinkRenderer }) %>
	         </div>
				<% end %>
			</div>
		</div>
	</header>

	<section>
	   <% if @records.count > 0 then %>
		<% @records.each do |record| %>
			<%= render :partial => "message.html", :locals => {:record => record, :details => false} %>
		<% end %>
		<% else %>
		<div class="alert alert-block alert-warning no-message ajax-after">
			<h5>No message posted.</h5>
		</div>
		<% end %>
   </section>
</section>
